{% extends "base.html" %}
{% from "utils/_render_cards.html" import render_cards %}


{% block main_content %}
    <div class="d-flex flex-column">
        {% set information_about_welders = welders %}

        {% call(j) render_cards(information_about_welders) %}
            <div class="card" style="width: 25яrem;">
                <canvas class="performance-pie-chart"></canvas>
                {% set welder = information_about_welders[j] %}
                <div class="card-body">
                    <h5 class="card-title">{{welder.first_name}} {{welder.second_name}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Категория: {{welder.category}}</li>
                    <li class="list-group-item">Телефон: {{welder.phone}}</li>
                </ul>
                <div class="card-body">
                    <a href="{{ url_for('users.edit_welder', id=welder.worker_id)}}" class="card-link">Редактировать</a>
                </div>
            </div>
        {% endcall %}
    </div>
    <script>
        var efficiency_of_welders = {{ efficiency_of_welders }};
    </script>

    <script src="static/js/creat_pie_chart.js"></script>
    <script src="static/js/users/list_of_weldrs.js"></script>
{% endblock %}