<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="static/img/">
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/base.css') }}">

    </head>
    <body>
        
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            
            <img src="/static/img/base/logo.svg" alt="Logo">
            <a href="http://uralzit.ru/" target="_blank">
                <h2>Завод Инновационных Технологий</h2>
            </a>
        </header>
        

        <main>
            <aside>
                <div class="user">
                    <h2 class="user_name">
                        {% if masterID %}
                            {% set info_about_master = about_master(masterID) %}
                            {% set title = info_about_master.title if info_about_master else "Неизвестно" %}
                            {% set href = info_about_master.href if info_about_master else "Неизвестно" %}
                        {% else %}
                            {% set title = "Неизвестно" %}
                            {% set href = "" %}

                        {% endif %}
                        <a href="{{href}}" class="user_name__value">{{title}}</a>
                    </h2>
                    <a class="user_exit" href={{url_for('users.logout')}} >Выйти</a>
                    <script>

                    </script>
                </div>
                <ul class="menu">
                    {% set navigation_bar_blocks = {
                        "Сварщики": {
                            "title": "Сварщики",
                            "href": url_for('users.show_welders'),
                            "img_src": "worker",
                            "alt": "ЗИТ",
                        },
                        "Добавить сварщика": {
                            "title": "Добавить сварщика",
                            "href": url_for('users.add_welder'),
                            "img_src": "workeradd",
                            "alt": "ЗИТ",
                        },
                        "Устройства": {
                            "title": "Устройства",
                            "href": url_for('sensors.show-sensors'),
                            "img_src": "instr",
                            "alt": "ЗИТ",
                        },
                        "Инструкция": {
                            "title": "Инструкция",
                            "href": "#",
                            "img_src": "book",
                            "alt": "ЗИТ",
                        }, 
                        "Статистика": {
                            "title": "Статистика",
                            "href": url_for('sensors.statistics'),
                            "img_src": "book",
                            "alt": "ЗИТ",
                        }
                    }%}
    
                    {% for key, navigation_bar in navigation_bar_blocks.items() %}
                        <li>
                            <a href="{{navigation_bar.href}}">
                                <img src="/static/img/base/{{navigation_bar.img_src}}.svg" alt="Завод Иновационных технологий">
                                <span>{{ navigation_bar.title }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </aside>
            <section>
                {% block main_content %}{% endblock %}
                
                <footer>
                    <div class="footer_about">
                        <h5>
                            <a href="http://uralzit.ru/" target="_blank">
                                Изготовитель: ООО "ЗИТ"
                            </a>
                        </h5>
                        <h5 class="footer_dev">
                            Разработчик: Мочалов А.В.
                            <a href="#" target="_blank">
                                <img src="/static/img/base/icon-github.png" alt="Github">
                            </a>
                            <a href="https://github.com/X0re4ik?tab=repositories" target="_blank">
                                <img src="/static/img/base/icon-telegram.png" alt="Telegram">
                            </a>
                        </h5>
                    </div>
                    <div class="footer_social">
                        <a href="https://www.youtube.com/channel/UCHgA-k0ZR22--xRcH8jtspw" target="_blank">
                            <img src="/static/img/base/icon-youtube.png" alt="Youtube">
                        </a>
                        <a href="https://instagram.com/zavod_inno_tech?igshid=YmMyMTA2M2Y=" target="_blank">
                            <img src="/static/img/base/icon-telegram.png" alt="Telegram">
                        </a>
                        <a href="" target="_blank">
                            <img src="/static/img/base/icon-instagram.png" alt="Instagram">
                        </a>
                    </div>
                </footer>
            </section>
            
        </main>
        
    </body>
</html>