@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  list-style-type: none;
}

a:hover {
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

a:visited {
  color: #ffffff;
}

body {
  background-color: #21252a;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

header {
  background-color: #21252a;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  height: 10vh;
}

header img {
  height: 21px;
}

header h2 {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 21px;
  text-transform: uppercase;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
}

aside {
  background-color: #21252a;
  height: 100%;
  padding: 20px 40px;
  width: 20%;
  min-width: 300px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  border-bottom: 1px solid #ffffff;
}

.user_name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 36px;
  padding: 0 12px;
  background: #373d44;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.user_name img {
  width: 24px;
}

.user_name__value {
  font-size: 14px;
}

.user_exit {
  width: 36px;
  height: 36px;
  border-radius: 2px;
  background: #373d44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user_exit img {
  height: 21px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.menu li a {
  color: #ffffff;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 12px;
}

.menu li a img {
  width: 24px;
}

section {
  width: 80%;
  min-width: 320px;
  min-height: calc(100% - 64px);
  background-color: #ffffff;
  overflow: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  padding: 20px 40px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
}

.title2 {
  padding: 20px 40px 20px 40px;
  font-size: 30px;
  line-height: 30px;
  background-color: #ffffff;
  position: sticky;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 999;
}

.title2.title_left {
  text-align: left;
}

.title3 {
  padding: 0px 40px 20px 40px;
  font-size: 24px;
  line-height: 30px;
  background-color: #ffffff;
  width: auto;
  display: inline-block;
  text-align: center;
  text-align: center;
  min-width: 320px;
  width: 20%;
}

.workers {
  margin: 0;
  width: 100%;
  padding: 1px 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1px;
  background-color: #21252a;
}

.worker {
  background-color: #ffffff;
  padding: 40px;
}

.worker_photo {
  width: 100%;
  margin-bottom: 10px;
}

.worker_name {
  font-weight: 500;
  border-bottom: 1px solid #21252a;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.worker_category {
  border-bottom: 1px solid #21252a;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.worker_category__value {
  font-weight: 500;
}

.worker_tel {
  border-bottom: 1px solid #21252a;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.worker_tel__value {
  font-weight: 500;
}

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 0 20px;
}

.stat_item {
  width: 19%;
  min-width: 300px;
  margin-bottom: 50px;
}

.stat_title {
  line-height: 30px;
  font-size: 21px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

.stat_pic {
  width: 250px;
  height: 250px;
  background-color: #c5c5c5;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.stat_pic img {
  height: 100%;
}

.stat_details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 320px;
  margin-bottom: 50px;
}

.stat_details__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  gap: 30px;
}

.stat_details__col {
  width: 47%;
  min-width: 320px;
}

.stat_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.stat_detail:last-of-type {
  margin: 0;
}

.stat_detail p {
  font-size: 14px;
  line-height: 10px;
}

.stat_detail__value {
  color: #21252a;
}

.stat_detail__value:visited {
  color: #21252a;
}

.stat_reset {
  display: block;
  margin: auto;
  margin-top: 15px;
  background: red;
  background: #373d44;
  color: #ffffff;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 2px;
}

.stat_reset:hover {
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dots {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px dotted #21252a;
}

.graphics {
  padding: 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.graphic {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  height: 400px;
  background-color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.graphic_sm {
  width: calc(50% - 15px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  height: 300px;
}

.stat_pic img {
  height: 100%;
}

.graphic_details {
  width: calc(50% - 15px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.graphic_details_inner {
  width: 100%;
  border: 1px solid #373d44;
  border-radius: 5px;
  padding: 20px;
}

.icon1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.icon2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

form#add,
form#edit {
  padding: 40px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form#add label,
form#edit label {
  margin-bottom: 5px;
  text-align: left;
  min-width: 320px;
  width: 20%;
}

form#add input,
form#add select,
form#add option,
form#edit input,
form#edit select,
form#edit option {
  margin-bottom: 20px;
  min-width: 320px;
  width: 20%;
  height: 28px;
  padding: 5px 10px;
  border: 1px solid #c5c5c5;
  -webkit-transition: 0.5s border;
  transition: 0.5s border;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

form#add input:hover,
form#add select:hover,
form#add option:hover,
form#edit input:hover,
form#edit select:hover,
form#edit option:hover {
  outline: none;
  border: 1px solid #21252a;
  -webkit-transition: 0.5s border;
  transition: 0.5s border;
}

form#add input:focus,
form#add select:focus,
form#add option:focus,
form#edit input:focus,
form#edit select:focus,
form#edit option:focus {
  outline: none;
  border: 1px solid #21252a;
  -webkit-transition: 0.5s border;
  transition: 0.5s border;
}

form#add input[type=submit],
form#edit input[type=submit] {
  height: auto;
  padding: 10px 0px;
  margin-top: 10px;
  background-color: #21252a;
  color: #c5c5c5;
  border: none;
  opacity: 0.7;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

form#add input[type=submit]:hover,
form#edit input[type=submit]:hover {
  opacity: 1;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

.exit_box {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.exit_inner {
  background-color: #21252a;
  color: #ffffff;
  width: 300px;
  text-align: center;
  padding: 40px 20px;
}

.exit_box {
  display: none;
}

.exit_box.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exit_links {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.exit_links a {
  border: 1px solid #c5c5c5;
  font-size: 14px;
  padding: 4px 12px;
  cursor: pointer;
}

.resultbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.result {
  position: absolute;
  background-color: #21252a;
  color: #ffffff;
  width: 300px;
  text-align: center;
  padding: 40px 20px;
  top: calc(50vh - 100px);
  left: calc(50% - 150px);
}

.result_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.result_close {
  cursor: pointer;
}

.none {
  display: none;
}

.editbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}

.proizvod {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proizvod.title3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.proizvod_picture {
  width: 400px;
  height: 400px;
  background-color: #c5c5c5;
}

footer {
  width: 100%;
  background-color: #21252a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  font-size: 16px;
}

footer h5 {
  font-size: 16px;
}

footer img {
  height: 18px;
}

.footer_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer_dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.headline {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.headline h1 {
  padding: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  background: none;
}
.headline h2 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-right: 20px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 25%;
}

.grid_year {
  width: calc(100% - 40px);
  margin: 50px auto;
  height: 200px;
}

.grid_month {
  display: none;
  border: 1px solid #373d44;
  -ms-grid-columns: minmax(40px, 1fr) 1px minmax(40px, 1fr) 1px minmax(40px, 1fr) 1px minmax(40px, 1fr) 1px minmax(40px, 1fr) 1px minmax(40px, 1fr) 1px minmax(40px, 1fr);
  grid-template-columns: repeat(7, minmax(40px, 1fr));
  grid-gap: 1px;
  background-color: #373d44;
}

.grid_month.active {
  display: -ms-grid;
  display: grid;
}

.grid_day {
  height: 40px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 10px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid_day a {
  color: #373d44;
  text-decoration: underline;
}

.grid_day__none {
  background: #c5c5c5;
}

.grid_controls {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  gap: 10px;
}

.grid_arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  border: 1px solid #373d44;
}

.grid_arrows:hover {
  background: #373d44;
  color: #c5c5c5;
}

.grid_dots {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid_dot {
  background: #ffffff;
  padding: 5px 10px;
  color: #373d44;
  border: 1px solid #373d44;
  margin-left: -1px;
  cursor: pointer;
}

.grid_dot:hover {
  background: #c5c5c5;
  color: #ffffff;
}

.grid_dot.active {
  background: #373d44;
  color: #ffffff;
}

.error {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}

.error_headline {
  width: 60%;
  min-width: 400px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.error_headline h1 {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}
.error_headline h2 {
  font-size: 21px;
}

.error_face {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #21252a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.error_face img {
  width: 100px;
  -webkit-animation: 4s Sad ease infinite;
          animation: 4s Sad ease infinite;
  -webkit-transform: translateX(8px) translateY(0px);
          transform: translateX(8px) translateY(0px);
}

@-webkit-keyframes Sad {
  0% {
    -webkit-transform: translateX(8px) translateY(0px) scaleX(0.9);
            transform: translateX(8px) translateY(0px) scaleX(0.9);
  }
  25% {
    -webkit-transform: translateX(0px) translateY(10px);
            transform: translateX(0px) translateY(10px);
  }
  45% {
    -webkit-transform: translateX(-8px) translateY(0px) scaleX(0.9);
            transform: translateX(-8px) translateY(0px) scaleX(0.9);
  }
  55% {
    -webkit-transform: translateX(-8px) translateY(0px) scaleX(0.9);
            transform: translateX(-8px) translateY(0px) scaleX(0.9);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(10px);
            transform: translateX(0px) translateY(10px);
  }
  100% {
    -webkit-transform: translateX(8px) translateY(0px) scaleX(0.9);
            transform: translateX(8px) translateY(0px) scaleX(0.9);
  }
}

@keyframes Sad {
  0% {
    -webkit-transform: translateX(8px) translateY(0px) scaleX(0.9);
            transform: translateX(8px) translateY(0px) scaleX(0.9);
  }
  25% {
    -webkit-transform: translateX(0px) translateY(10px);
            transform: translateX(0px) translateY(10px);
  }
  45% {
    -webkit-transform: translateX(-8px) translateY(0px) scaleX(0.9);
            transform: translateX(-8px) translateY(0px) scaleX(0.9);
  }
  55% {
    -webkit-transform: translateX(-8px) translateY(0px) scaleX(0.9);
            transform: translateX(-8px) translateY(0px) scaleX(0.9);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(10px);
            transform: translateX(0px) translateY(10px);
  }
  100% {
    -webkit-transform: translateX(8px) translateY(0px) scaleX(0.9);
            transform: translateX(8px) translateY(0px) scaleX(0.9);
  }
}
.error_text {
  padding-left: 30px;
  width: 60%;
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-size: 18px;
  line-height: 24px;
}
.error_text span {
  font-weight: bold;
}
.error_text a {
  color: #21252a;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  header {
    height: auto;
    gap: 24px;
  }
  header img {
    height: 32px;
  }
  header h2 {
    text-align: left;
  }
  aside {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  section {
    overflow: visible;
    width: 100%;
    padding-top: 20px;
  }
  .user {
    margin-bottom: 30px;
  }
  .graphics {
    padding: 20px 0;
  }
  .proizvod {
    padding: 40px 0;
  }
  .proizvod_picture {
    width: 300px;
    height: 300px;
  }
  form#add,
  form#edit {
    padding: 40px 0;
  }
  .editbox {
    gap: 0;
  }
  .headline {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .headline h1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    padding-left: 20px;
  }
  .headline h2 {
    width: 25%;
    font-size: 16px;
    line-height: 21px;
    padding-top: 0;
    text-align: right;
  }
  .grid_year {
    width: 100%;
    height: 250px;
  }
}
@media only screen and (max-width: 480px) {
  .headline {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .headline h1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50%;
    padding-left: 20px;
  }
  .headline h2 {
    width: 50%;
    font-size: 14px;
    line-height: 18px;
    padding-top: 0;
    text-align: right;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 40px;
  }
  .grid_year {
    width: 100%;
    height: 200px;
  }
  .grid_dot {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7px 7px;
    font-size: 12px;
  }
  .error {
    padding: 80px 0;
  }
  .error_headline {
    width: 320px;
    min-width: auto;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .error_headline h1 {
    font-size: 21px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
  }
  .error_headline h2 {
    font-size: 16px;
    text-align: center;
  }
  .error_text {
    padding-left: 10px;
    width: 320px;
    min-width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
  .error_text span {
    font-weight: bold;
    display: block;
  }
  .error_text a {
    color: #21252a;
    text-decoration: underline;
  }
}

a:active{color: #111;} 
a:visited{color:#111;}